*{
    font-family: 'Times New Roman', Tahoma, sans-serif;
}

.title{
    text-align: center;
    background-color: rgb(250, 212, 0);
    font-size: 50px;
    

}

.list{
    background-color: rgb(248, 144, 214);

}
.instr{
    font-size: 30px;
    background-color: rgb(255, 0, 255);
    
}

.para{
    font-size: 20px;
    background-color: rgb(185, 162, 247);
}

.link{
    font-size: 40px;
}